body{
	 background: url('Images/Background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 margin:0;
}

#Profile_Pic{
	width: 200px;
	height: 200px;
	border: 2px solid black;
    border-radius: 25px;
}
#ContactHeader{
	color:black;
	/*color:white;*/
	margin-top:0;
	margin-bottom:0;
}
#SideMenu{
width:250px;
text-align:center;
border-bottom-left-radius: 25px;
height:450px;
border-bottom-right-radius: 25px;
display:none;
}
#Contact{
	float:right;
}
#Vision{
margin-right:5px;
float:right;

}
#Vis{
	background:blue;
}
#logotxt{
	margin:0px;
}
#logo{
	background-image:url('Personal_Image.jpg');
	display: inline-block;
	text-align: center;
	width:200px;
	height:125px;
	border-radius: 50px;
	text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
	margin: 0px;
}
#center{
	display: block;
	text-align: center;
	width:325px;
	height:325px;
	position: absolute;
	top: 30%;
	left: 40%;
	text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
	border-radius: 325px;
}
.link{
	display:block;
	margin: 0px auto;
	background:rgba(0, 0, 0, 0);
	border: gray outset 5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
	
	border-radius: 10px;
	color: black;
	text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
	font-size:20px;

}
.link:hover{
	background-color: rgba(26, 60, 55, .1);
	border: lightblue inset 5px;
}

/*Primary Color:
1A3C37	1B3732	13352F	4A877D	56877F
Secondary Color A:
232343	22223D	19193A	55558B	60608B
Secondary Color B:
445826	405027	394D1B	7D9853	829860*/
